.icon-academia:before {
  content: '\e800';
} /* '' */
.icon-w3c:before {
  content: '\e801';
} /* '' */
.icon-elsevier:before {
  content: '\e803';
} /* '' */
.icon-researchgate:before {
  content: '\e804';
} /* '' */
.icon-phone:before {
  content: '\e806';
} /* '' */
.icon-calendar:before {
  content: '\e807';
} /* '' */
.icon-at:before {
  content: '\e808';
} /* '' */
.icon-orchid:before {
  content: '\e809';
} /* '' */
.icon-webofscience:before {
  content: '\e80b';
} /* '' */
.icon-devto:before {
  content: '\e80e';
} /* '' */
.icon-huggingface:before {
  content: '\e814';
} /* '' */
.icon-gitlab:before {
  content: '\e81b';
} /* '' */
.icon-npm:before {
  content: '\e81d';
} /* '' */
.icon-dot-3:before {
  content: '\e822';
} /* '' */
.icon-pypi:before {
  content: '\e823';
} /* '' */
.icon-kodkafa:before {
  content: '\e825';
} /* '' */
.icon-dribbble:before {
  content: '\e82a';
} /* '' */
.icon-thenounproject:before {
  content: '\e82b';
} /* '' */
.icon-googlescholar:before {
  content: '\e82c';
} /* '' */
.icon-myminifactory:before {
  content: '\e82d';
} /* '' */
.icon-github:before {
  content: '\f09b';
} /* '' */
.icon-youtube:before {
  content: '\f16a';
} /* '' */
.icon-stackoverflow:before {
  content: '\f16c';
} /* '' */
.icon-instagram:before {
  content: '\f16d';
} /* '' */
.icon-behance:before {
  content: '\f1b4';
} /* '' */
.icon-steam:before {
  content: '\f1b6';
} /* '' */
.icon-jsfiddle:before {
  content: '\f1cc';
} /* '' */
.icon-twitch:before {
  content: '\f1e8';
} /* '' */
.icon-brush:before {
  content: '\f1fc';
} /* '' */
.icon-pinterest:before {
  content: '\f231';
} /* '' */
.icon-medium:before {
  content: '\f23a';
} /* '' */
.icon-500px:before {
  content: '\f26e';
} /* '' */
.icon-product-hunt:before {
  content: '\f288';
} /* '' */
.icon-etsy:before {
  content: '\f2d7';
} /* '' */
.icon-facebook:before {
  content: '\f300';
} /* '' */
.icon-twitter:before {
  content: '\f303';
} /* '' */
.icon-vimeo:before {
  content: '\f30f';
} /* '' */
.icon-linkedin:before {
  content: '\f31a';
} /* '' */
.icon-codepen:before {
  content: '\f32c';
} /* '' */
.icon-comment:before {
  content: '\f4ac';
} /* '' */
