@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?49198034');
  src:
    url('../font/fontello.eot?49198034#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?49198034') format('woff2'),
    url('../font/fontello.woff?49198034') format('woff'),
    url('../font/fontello.ttf?49198034') format('truetype'),
    url('../font/fontello.svg?49198034#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49198034#fontello') format('svg');
  }
}
*/
[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-academia:before {
  content: '\e800';
} /* '' */
.icon-w3c:before {
  content: '\e801';
} /* '' */
.icon-elsevier:before {
  content: '\e803';
} /* '' */
.icon-researchgate:before {
  content: '\e804';
} /* '' */
.icon-phone:before {
  content: '\e806';
} /* '' */
.icon-calendar:before {
  content: '\e807';
} /* '' */
.icon-at:before {
  content: '\e808';
} /* '' */
.icon-orchid:before {
  content: '\e809';
} /* '' */
.icon-webofscience:before {
  content: '\e80b';
} /* '' */
.icon-devto:before {
  content: '\e80e';
} /* '' */
.icon-huggingface:before {
  content: '\e814';
} /* '' */
.icon-gitlab:before {
  content: '\e81b';
} /* '' */
.icon-npm:before {
  content: '\e81d';
} /* '' */
.icon-dot-3:before {
  content: '\e822';
} /* '' */
.icon-pypi:before {
  content: '\e823';
} /* '' */
.icon-kodkafa:before {
  content: '\e825';
} /* '' */
.icon-dribbble:before {
  content: '\e82a';
} /* '' */
.icon-thenounproject:before {
  content: '\e82b';
} /* '' */
.icon-googlescholar:before {
  content: '\e82c';
} /* '' */
.icon-myminifactory:before {
  content: '\e82d';
} /* '' */
.icon-github:before {
  content: '\f09b';
} /* '' */
.icon-youtube:before {
  content: '\f16a';
} /* '' */
.icon-stackoverflow:before {
  content: '\f16c';
} /* '' */
.icon-instagram:before {
  content: '\f16d';
} /* '' */
.icon-behance:before {
  content: '\f1b4';
} /* '' */
.icon-steam:before {
  content: '\f1b6';
} /* '' */
.icon-jsfiddle:before {
  content: '\f1cc';
} /* '' */
.icon-twitch:before {
  content: '\f1e8';
} /* '' */
.icon-brush:before {
  content: '\f1fc';
} /* '' */
.icon-pinterest:before {
  content: '\f231';
} /* '' */
.icon-medium:before {
  content: '\f23a';
} /* '' */
.icon-500px:before {
  content: '\f26e';
} /* '' */
.icon-product-hunt:before {
  content: '\f288';
} /* '' */
.icon-etsy:before {
  content: '\f2d7';
} /* '' */
.icon-facebook:before {
  content: '\f300';
} /* '' */
.icon-twitter:before {
  content: '\f303';
} /* '' */
.icon-vimeo:before {
  content: '\f30f';
} /* '' */
.icon-linkedin:before {
  content: '\f31a';
} /* '' */
.icon-codepen:before {
  content: '\f32c';
} /* '' */
.icon-comment:before {
  content: '\f4ac';
} /* '' */
