[class^='icon-'],
[class*=' icon-'] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-academia {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe800;&nbsp;'
  );
}
.icon-w3c {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe801;&nbsp;'
  );
}
.icon-elsevier {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe803;&nbsp;'
  );
}
.icon-researchgate {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe804;&nbsp;'
  );
}
.icon-phone {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe806;&nbsp;'
  );
}
.icon-calendar {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe807;&nbsp;'
  );
}
.icon-at {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe808;&nbsp;'
  );
}
.icon-orchid {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe809;&nbsp;'
  );
}
.icon-webofscience {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe80b;&nbsp;'
  );
}
.icon-devto {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe80e;&nbsp;'
  );
}
.icon-huggingface {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe814;&nbsp;'
  );
}
.icon-gitlab {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe81b;&nbsp;'
  );
}
.icon-npm {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe81d;&nbsp;'
  );
}
.icon-dot-3 {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe822;&nbsp;'
  );
}
.icon-pypi {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe823;&nbsp;'
  );
}
.icon-kodkafa {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe825;&nbsp;'
  );
}
.icon-dribbble {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe82a;&nbsp;'
  );
}
.icon-thenounproject {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe82b;&nbsp;'
  );
}
.icon-googlescholar {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe82c;&nbsp;'
  );
}
.icon-myminifactory {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xe82d;&nbsp;'
  );
}
.icon-github {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf09b;&nbsp;'
  );
}
.icon-youtube {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf16a;&nbsp;'
  );
}
.icon-stackoverflow {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf16c;&nbsp;'
  );
}
.icon-instagram {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf16d;&nbsp;'
  );
}
.icon-behance {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf1b4;&nbsp;'
  );
}
.icon-steam {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf1b6;&nbsp;'
  );
}
.icon-jsfiddle {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf1cc;&nbsp;'
  );
}
.icon-twitch {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf1e8;&nbsp;'
  );
}
.icon-brush {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf1fc;&nbsp;'
  );
}
.icon-pinterest {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf231;&nbsp;'
  );
}
.icon-medium {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf23a;&nbsp;'
  );
}
.icon-500px {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf26e;&nbsp;'
  );
}
.icon-product-hunt {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf288;&nbsp;'
  );
}
.icon-etsy {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf2d7;&nbsp;'
  );
}
.icon-facebook {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf300;&nbsp;'
  );
}
.icon-twitter {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf303;&nbsp;'
  );
}
.icon-vimeo {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf30f;&nbsp;'
  );
}
.icon-linkedin {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf31a;&nbsp;'
  );
}
.icon-codepen {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf32c;&nbsp;'
  );
}
.icon-comment {
  *zoom: expression(
    this.runtimeStyle[ 'zoom'] = '1',
    this.innerHTML = '&#xf4ac;&nbsp;'
  );
}
